<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <swiper [config]="config">
    <div *ngFor="let item of data" class="swiper-slide">
      <div class="thumbnail text-center">
        <img [src]="item.imageUrl" class="img-thumbnail img-rounded" alt="">
      </div>
    </div>
  </swiper>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
</div>
